<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Matrículas</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
    <link rel="stylesheet" href="styles/perfil.css">
    <script async th:text="|const cui = ${cui}; const promedio=${promedio}|"></script>
    <script async src="scripts/tables.js"></script>
</head>
<body>
    <div class="sidebar">
        <span>
            <h2>Home</h2>
            <ul>
                <li><button onclick="verPerfil()">Mi Perfil</button></li>
                <li>
                <button onclick="toggleSubmenu('perfilSubmenu')">Cursos</button>
                    <ul id="perfilSubmenu" class="submenu">
                        <li><button onclick="verCursosAprobados()">‎  ‎  ‎ Cursos aprobados</button></li>
                        <li><button onclick="verCursosReprobados()">‎  ‎  ‎ Cursos reprobados</button></li>
                        <li><button onclick="verPromedios()">‎  ‎  ‎ Promedios</button></li>
                    </ul>
                </li>
                <li>
                    <button onclick="toggleSubmenu('matriculasSubmenu')">Matrículas online</button>
                    <ul id="matriculasSubmenu" class="submenu">
                        <li><button onclick="verMatriculados()">‎  ‎  ‎ Matriculados</button></li>
                        <li><button onclick="verMatriculables()">‎  ‎  ‎ Matriculables</button></li>
                    </ul>
                </li>
                <li><button onclick="verHistorial()">Historial</button></li>
            </ul>
        </span>
        <button style="text-align: center;" class="logout-button" onclick="cerrarSesion()">- Cerrar sesión -</button>
    </div>
        <div class="main-content">
            <h1 id="greeting" th:text="|Hola ${pnombre} ${papellido}|"></h1>
            <span th:if="${semestre}"><h3 th:text="|Semestre actual: ${semestre}|"></h3></span>
            <span th:unless="${semestre}"><h3>No se ha matriculado en algún semestre </h3></span>

            <span><h3 th:text="|Creditos aprobados: ${creditos_aprobados}|"></h3></span>
            <span><h3 th:text="|Creditos desaprobados: ${creditos_reprobados}|  "></h3></span>
            <span><h3 th:text="|Creditos matriculados: ${creditos_matriculados}|"></h3></span>


            <div id="content">
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="scripts/perfil.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
</body>
</html>