<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cursos Matriculados</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Nota1</th>
        <th>Nota2</th>
        <th>Nota3</th>
        <th>Semestre</th>
        <th>DNI Profesor</th>
        <th>Nombre P.</th>
        <th>Apellido P.</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="curso: ${matriculados}">
            <td><span th:text="${curso.codigo}"> </span></td>
            <td><span th:text="${curso.nombre}"> </span></td>
            <td><span th:text="${curso.nota1}"> </span></td>
            <td><span th:text="${curso.nota2}"> </span></td>
            <td><span th:text="${curso.nota3}"> </span></td>
            <td><span th:text="${curso.semestre}"> </span></td>
            <td><span th:text="${curso.dni_prof}"> </span></td>
            <td><span th:text="${curso.prof_nombre}"> </span></td>
            <td><span th:text="${curso.prof_apellido}"> </span></td>
        </tr>
    </tbody>
</table>

</body>
</html>