<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cursos Matriculables</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Creditos</th>
        <th>Semestre</th>
        <th>Codigo Docente</th>
        <th>Nombre Docente</th>
        <th>Apellido Docente</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="curso: ${matriculables}">
        <td><span th:text="${curso.codigo}"> </span></td>
        <td><span th:text="${curso.nombre}"> </span></td>
        <td><span th:text="${curso.creditos}"> </span></td>
        <td><span th:text="${curso.semestre}"> </span></td>
        <td><span th:text="${curso.codigo_doc}"> </span></td>
        <td><span th:text="${curso.docente_nombre}"> </span></td>
        <td><span th:text="${curso.docente_apellido}"> </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>